.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 16px;
    padding: 15px 25px;
    color: #FFF;
    font-size: 8vw;
    width: 40vw;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .title {
        width: 25vw;
        font-size: 5vw;
    }
    
  }

  @media only screen and (min-width: 1500px) {
    .title {
        width: 20vw;
        font-size: 3vw;
    }
    
  }