* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.9)), url("assets/bcg.jpg");
  background-position: top;
  background-size: cover;
  padding: 3%;
  min-height: 100vh;
  min-width: 100vw;
}